# 实习一：数据库应用案例设计
## PKU-XiaohongshuDB

**成员：**
- 李卓 2000013195
- 顾逸鸥
- 贺阳

## 一、业务需求
小红书App提供了多种功能，我们主要关注用户社交、发帖、评论、点赞、收藏、转发、浏览记录、私信等功能。

## 二、ER图设计
根据上述业务需求，我们需要确定实体，以及实体之间的联系。

### 1. 实体
我们共设立6种实体，并确定它们各自的属性（主码用下划线来标识）：
* **用户**（<u>小红书号</u>，昵称，姓名，手机号，地区，性别）
* **贴子**（<u>帖子ID</u>，发帖时间，帖子内容，帖子类别）
* **视频**（<u>视频ID</u>，发布时间，视频内容）
* **私信消息**（<u>消息ID</u>，消息内容，消息时间）

以上4种都是强实体，而对于评论和浏览记录，我们将其视作弱实体，依赖于贴子或视频而存在。主码应该是贴子ID/视频ID+分辨符。
* **评论**（<u>评论ID，帖子ID</u>，评论内容，评论时间）
* **浏览记录**（<u>记录ID, 用户ID</u>，浏览内容）

### 2. 联系
实体之间存在着若干种联系，我们一一列举如下：
* **关注**：用户与用户之间，多对多。该联系具有“关注时间”属性
* **发私信**：用户与私信消息之间，一对多
* **接受私信**：用户与私信消息之间，一对多
* **引用**：私信消息与私信消息之间，一对一
* **发帖**：用户与贴子之间，一对多
* **发布视频**：用户与视频之间，一对多
* **评论**：用户与贴子或视频之间，多对多
* **点赞**：用户与贴子或视频之间，多对多
* **收藏**：用户与贴子或视频之间，多对多
* **转发**：贴子与贴子之间，一对多。该联系具有“转发人ID”和“转发时间”属性

### 3. ER图
根据列出的实体和联系，我们可以绘制出ER图。
![ER图](./assets/ER图设计.png)


## 三、关系表创建
完成ER图的设计后，要将其转换成关系表。

6个实体各自对应一张表，要注意的是，2个弱实体的表中应有强实体的主码，代表对强实体的依附。
4个多对多联系（关注、评论、点赞、收藏）需单独创建表，表的主码是联系双方的主码。
剩余的都是一对多联系，不需要创建单独的表，而应该将单方参与实体的码作为多方参与实体的属性。

共有10张表，下面我们一一进行创建。注释中包含着一些说明。

1. 用户表（User）
```
用户ID, 昵称, 姓名, 手机号, 地区, 性别
```

2. 贴子表（Post）
```
帖子ID, 用户ID, 发帖时间, 帖子内容, 帖子类别
```

3. 视频表（Video）
```
视频ID, 用户ID, 发布时间, 视频内容
```

4. 私信消息表（Message）
```
消息ID, 发送者ID, 接收者ID, 消息内容, 消息时间, 引用消息ID（可选）
```

5. 评论表（Comment）
```
评论ID, 帖子ID, 用户ID, 评论内容, 评论时间
```

6. 浏览记录表（BrowseRecord）
```
记录ID, 用户ID, 浏览内容
```

7. 关注表（Follow）
```
关注者ID, 被关注者ID, 关注时间
```

8. 评论关系表（CommentRelation）
```
评论ID, 用户ID, 帖子ID/视频ID
```

9. 点赞关系表（LikeRelation）
```
点赞ID, 用户ID, 帖子ID/视频ID
```

10. 收藏关系表（CollectRelation）
```
收藏ID, 用户ID, 帖子ID/视频ID
```

根据上述关系表设计，可以满足小红书App的业务需求。在实际项目中，还需对这些关系表进行进一步优化，以提高查询性能、降低存储成本等。

## 环境配置与初始化（Configuration and Initialization）

In [64]:
%load_ext sql
import pymysql
pymysql.install_as_MySQLdb()
%sql mysql://stu2000013195:stu2000013195@162.105.146.37:43306

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [65]:
%sql use stu2000013195

 * mysql://stu2000013195:***@162.105.146.37:43306
0 rows affected.

[]

In [66]:
%sql show tables

 * mysql://stu2000013195:***@162.105.146.37:43306
3 rows affected.

[('xhs_forward',), ('xhs_tiezi',), ('xhs_user',)]

In [57]:
%%sql

set @@foreign_key_checks=0;

# 1. 创建用户表。应检查电话号码长度是否为11位
# 用户表的属性依次为：主码为每个用户的id，昵称，性别，地区，粉丝数，关注数，手机电话
drop table if exists xhs_user;

CREATE TABLE xhs_user
(
    user_id INT PRIMARY KEY AUTO_INCREMENT,
    user_name VARCHAR(100) NOT NULL,
    user_gender ENUM('男','女') NOT NULL,
    user_district VARCHAR(100) NOT NULL,
    fans_num INT DEFAULT 0,
    following_num INT DEFAULT 0,
    user_phone VARCHAR(20) NOT NULL,
    check(length(user_phone)=11)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013195:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [61]:
%%sql

set @@foreign_key_checks=0;

#2.创建帖子表
#属性依次为：帖子ID标识主码，帖子发布者，帖子发表时间，帖子类型，帖子内容，帖子转发次数，帖子点赞次数，帖子收藏次数
drop table if exists xhs_tiezi;

CREATE TABLE xhs_tiezi
(
    tiezi_id INT PRIMARY KEY AUTO_INCREMENT,
    tiezi_user INT NOT NULL,
    tiezi_time DATETIME NOT NULL,
    tiezi_type ENUM('text','img','video') NOT NULL,
    tiezi_content VARCHAR(500),
    forward_times INT DEFAULT 0,
    liked_times INT DEFAULT 0,
    collected_times INT DEFAULT 0,
    CONSTRAINT fk_msg_s FOREIGN KEY(tiezi_user) REFERENCES xhs_user(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013195:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [67]:
%sql show tables;

 * mysql://stu2000013195:***@162.105.146.37:43306
3 rows affected.

[('xhs_forward',), ('xhs_tiezi',), ('xhs_user',)]

In [75]:
%sql show triggers;

 * mysql://stu2000013195:***@162.105.146.37:43306
2 rows affected.

[('trg_before_insert_forward', 'INSERT', 'xhs_forward', "BEGIN\n    DECLARE original_tiezi_type ENUM('text','img','video');\n    DECLARE original_tiezi_content VARCHAR(500);\n    SELECT tiezi_type, tiezi_co ... (160 characters truncated) ... user, tiezi_time, tiezi_type, tiezi_content)\n    VALUES\n    (NEW.forward_user, NEW.forward_time, original_tiezi_type, original_tiezi_content);\nEND", 'BEFORE', datetime.datetime(2023, 4, 24, 6, 53, 55, 60000), 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION', 'stu2000013195@%', 'utf8mb4', 'utf8mb4_0900_ai_ci', 'utf8mb4_0900_ai_ci'),
 ('trg_after_insert_forward', 'INSERT', 'xhs_forward', 'UPDATE xhs_tiezi\n    SET forward_times = forward_times + 1\n    WHERE tiezi_id = NEW.forward_original_tiezi', 'AFTER', datetime.datetime(2023, 4, 24, 6, 53, 55, 110000), 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION', 'stu2000013195@%', 'utf8mb4', 'utf8mb4_0900_ai_ci', 'utf8mb4_0900_ai_ci')]

In [72]:
%%sql

set @@foreign_key_checks=0;

# 3. 创建转发表。
#属性依次为：转发的ID主码，转发者ID，被转发者ID，转发的帖子ID，转发时间，转发后新帖子ID，需要在插入时先将新帖子建立好，再插入对应的转发项
drop table if exists xhs_forward;

CREATE TABLE xhs_forward
(
    forward_id INT NOT NULL PRIMARY KEY,
    forward_user INT NOT NULL,
    forwarded_user INT NOT NULL,
    forward_original_tiezi INT NOT NULL,
    forward_time DATETIME NOT NULL,
    forward_new_tiezi INT NOT NULL,
    CONSTRAINT fk_forward_f FOREIGN KEY(forward_user) REFERENCES xhs_user(user_id),
    CONSTRAINT fk_forward_b FOREIGN KEY(forwarded_user) REFERENCES xhs_user(user_id),
    CONSTRAINT fk_tiezi_o FOREIGN KEY(forward_original_tiezi) REFERENCES xhs_tiezi(tiezi_id),
    CONSTRAINT fk_tiezi_n FOREIGN KEY(forward_new_tiezi) REFERENCES xhs_tiezi(tiezi_id)
);
set @@foreign_key_checks=1;

#创建一个触发器，在插入新的转发关系之前，先插入新的帖子
CREATE TRIGGER trg_before_insert_forward
BEFORE INSERT
ON xhs_forward FOR EACH ROW
BEGIN
    DECLARE original_tiezi_type ENUM('text','img','video');
    DECLARE original_tiezi_content VARCHAR(500);
    SELECT tiezi_type, tiezi_content INTO original_tiezi_type, original_tiezi_content
    FROM xhs_tiezi
    WHERE tiezi_id = NEW.forward_original_tiezi;

    INSERT INTO xhs_tiezi(tiezi_user, tiezi_time, tiezi_type, tiezi_content)
    VALUES
    (NEW.forward_user, NEW.forward_time, original_tiezi_type, original_tiezi_content);
END;
    


#创建一个触发器，在插入新的转发关系时，把转发的帖子的转发次数加1
CREATE TRIGGER trg_after_insert_forward
AFTER INSERT
ON xhs_forward FOR EACH ROW
    UPDATE xhs_tiezi
    SET forward_times = forward_times + 1
    WHERE tiezi_id = NEW.forward_original_tiezi;

 * mysql://stu2000013195:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [86]:
%%sql

set @@foreign_key_checks=0;

# 4.创建私信表。“发送短信”、“接收短信”、“引用”是一对多联系，分别对应外码send_user_id, recv_user_id, ref_id
drop table if exists xhs_message;

CREATE TABLE xhs_message
(
    msg_id INT PRIMARY KEY AUTO_INCREMENT,
    msg_type ENUM('text', 'img', 'video') NOT NULL,
    msg_time DATETIME NOT NULL,
    msg_content VARCHAR(200),
    send_user_id INT NOT NULL,
    recv_user_id INT NOT NULL,
    constraint fk_msg_send foreign key(send_user_id) references xhs_user(user_id),
    constraint fk_msg_receive foreign key(recv_user_id) references xhs_user(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013195:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [92]:
%%sql

set @@foreign_key_checks=0;

# 5.创建评论表。comment_id是分辨符，belong_post_id是强实体的主码。“发送评论”是一对多联系，comment_user_id是对应的外码
drop table if exists xhs_comment;

CREATE TABLE xhs_comment
(
    comment_id INT AUTO_INCREMENT,
    comment_content VARCHAR(200) NOT NULL,
    comment_time DATETIME NOT NULL,
    belong_tiezi_id INT NOT NULL,
    comment_user_id INT NOT NULL,
    PRIMARY KEY (comment_id, belong_tiezi_id),
    constraint fk_comment_tiezi foreign key(belong_tiezi_id) references xhs_tiezi(tiezi_id),
    constraint fk_comment_c foreign key(comment_user_id) references xhs_user(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013195:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [95]:
%%sql

set @@foreign_key_checks=0;

# 6.点赞表 对应喜欢的id主码，喜欢的帖子id，点赞者id，点赞时间，在插入一个点赞对象时触发器将对应的帖子点赞数加1
drop table if exists xhs_like;

CREATE TABLE xhs_like
(
    like_id INT PRIMARY KEY AUTO_INCREMENT,
    like_tiezi_id INT NOT NULL,
    liker_id INT NOT NULL,
    like_time DATETIME NOT NULL,
    constraint fk_like_t foreign key(like_tiezi_id) references xhs_tiezi(tiezi_id),
    constraint fk_like_r foreign key(liker_id) references xhs_user(user_id)
);
set @@foreign_key_checks=1;

CREATE TRIGGER trg_after_insert_like
AFTER INSERT
ON xhs_like FOR EACH ROW
BEGIN
    DECLARE post_id INT;
    SET post_id = NEW.like_tiezi_id;
    
    UPDATE xhs_tiezi
    SET like_times = like_times + 1
    WHERE tiezi_id = post_id;
END;

 * mysql://stu2000013195:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [99]:
%%sql

set @@foreign_key_checks=0;

# 7.收藏表 对应收藏的id主码，收藏的帖子id，收藏者id，收藏时间，在插入一个收藏对象时触发器将对应的帖子收藏数加1
drop table if exists xhs_collect;

CREATE TABLE xhs_collect
(
    collect_id INT PRIMARY KEY AUTO_INCREMENT,
    collect_tiezi_id INT NOT NULL,
    collector_id INT NOT NULL,
    collect_time DATETIME NOT NULL,
    constraint fk_like_tt foreign key(collect_tiezi_id) references xhs_tiezi(tiezi_id),
    constraint fk_like_rr foreign key(collector_id) references xhs_user(user_id)
);
set @@foreign_key_checks=1;

CREATE TRIGGER trg_after_insert_collect
AFTER INSERT
ON xhs_collect FOR EACH ROW
BEGIN
    DECLARE post_id INT;
    SET post_id = NEW.collect_tiezi_id;
    
    UPDATE xhs_tiezi
    SET collect_times = collect_times + 1
    WHERE tiezi_id = post_id;
END;

 * mysql://stu2000013195:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [102]:
%%sql

set @@foreign_key_checks=0;

# 8.创建关注表，由于多对多联系，需要为关注和被关注都建立外码
# 依次为care的主码ID，被关注者id，关注者id，关注时间
drop table if exists xhs_follow;

CREATE TABLE xhs_follow
(
    follow_id INT PRIMARY KEY AUTO_INCREMENT,
    followed_id INT,
    follower_id INT,
    follow_time DATETIME NOT NULL,
    constraint fk_friend_s foreign key(follower_id) references xhs_user(user_id),
    constraint fk_friend_r foreign key(followed_id) references xhs_user(user_id)   
);
set @@foreign_key_checks=1;

#建立触发器，在插入关注后，被关注者的粉丝数加1，而关注者的关注数加1
CREATE TRIGGER trg_after_insert_follow
AFTER INSERT
ON xhs_follow FOR EACH ROW
BEGIN
    DECLARE user_id1 INT;
    DECLARE user_id2 INT;
    SET user_id1 = NEW.follower_id;
    SET user_id2 = NEW.followed_id;
    
    UPDATE xhs_user
    SET following_num = following_num + 1
    WHERE user_id = user_id1;
    UPDATE xhs_user
    SET fans_num = fans_num + 1
    WHERE user_id = user_id2;
END;

 * mysql://stu2000013195:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [104]:
%%sql

set @@foreign_key_checks=0;

# 9.浏览记录表 浏览记录作为用户的一个弱实体，
drop table if exists xhs_record;

CREATE TABLE xhs_record
(
    record_id INT NOT NULL,
    content VARCHAR(1000),
    recorder_id INT NOT NULL,
    primary key(record_id,recorder_id),
    constraint fk_record_i foreign key(recorder_id) references xhs_user(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013195:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [109]:
%%sql

set @@foreign_key_checks=0;

# 10.粉丝列表，依然作为用户的弱实体，
drop table if exists xhs_fans;

CREATE TABLE xhs_fans
(
    f_id INT NOT NULL,
    user_id INT NOT NULL,
    fan_id INT NOT NULL,
    PRIMARY KEY(user_id, f_id),
    constraint fk_record_ii foreign key(user_id) references xhs_user(user_id),
    constraint fk_record_j foreign key(fan_id) references xhs_user(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013195:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [111]:
%%sql

set @@foreign_key_checks=0;

# 10.关注列表，依然作为用户的弱实体，
drop table if exists xhs_fans;

CREATE TABLE xhs_fans
(
    f_id INT NOT NULL,
    user_id INT NOT NULL,
    followed_id INT NOT NULL,
    PRIMARY KEY(user_id, f_id),
    constraint fk_record_ii foreign key(user_id) references xhs_user(user_id),
    constraint fk_record_j foreign key(followed_id) references xhs_user(user_id)
);
set @@foreign_key_checks=1;

 * mysql://stu2000013195:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]